<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE com.zmm.mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-com.zmm.mapper.dtd" >
<com.zmm.mapper namespace="com.zmm.springboot.com.zmm.mapper.UserMapper" >

    <insert id="insert" parameterType="com.zmm.springboot.model.User" >
        INSERT INTO
            users
            (user_name,pass_word,nick_name)
        VALUES
            (#{userName}, #{passWord}, #{nickName})
    </insert>


</com.zmm.mapper>
